#region-productos.container

  .region
    .region-title
      %h1= page_title!('Listando productos')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Producto', new_producto_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Precio en oferta
            %th Precio normal
            %th Codigo
            %th Foto
            %th
            %th
            %th

          - @productos.each do |producto|
            %tr
              %td= producto.nombre
              %td= producto.precio_en_oferta
              %td= producto.precio_normal
              %td= producto.codigo
              %td= producto.foto
              %td= link_to 'Ver', producto, class: 'btn btn-info'
              %td= link_to 'Editar', edit_producto_path(producto), class: 'btn btn-success'
              %td= link_to 'Eliminar', producto, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
